.top_banner
{
    width: 100%;
    height: 40px;
    background-color: rosybrown;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
}
.top_banner_txt
{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 0;
}
.quick_menu
{
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 40px;
    right: 0;
    border-left: 1px solid #eee;
    z-index: 20;
    background-color: white;
    padding: 25px 15px 0 20px;
    box-sizing: border-box;
    transition: all 0.5s;
}
.quick_hided
{
    transform: translateX(100%);
}
.search_box
{
    width: 150px;
    display: flex;
    border-bottom: 1px solid #ddd;
}
.search_bar
{
    width: 150px;
}
.search_bar input
{
    width: 100%;
    outline: none;
    border: none;
}
.search_btn
{
    width: 17px;
    height: 17px;
    background-color: #000;
    background: url(../img/theComma/search.png) no-repeat center/contain;
}
.quick_content
{
    padding: 30px 0;
    font-size: 10px;
}
.quick_content div
{
    padding: 10px 0;
}
.hide_btn
{
    width: 30px;
    height: 30px;
    line-height: 34px;
    text-align: center;
    font-size: 30px;
    background-color: #444;
    color: white;
    position: absolute;
    top: 45%;
    left: -31px;
    font-weight: 300;
    transition: background-color, 0.2s;
    border: 1px solid #ddd;
    border-right: none;
}
.hide_btn:hover
{
    cursor: pointer;
}
.header
{
    width: 100%;
    margin-top: 40px;
    position: relative;
}
.logo
{
    width: 207px;
    height: 150px;
    margin: 0 auto;
    padding: 50px 0;
    background: url(../img/theComma/logo.jpg) no-repeat center/contain;
}
.logo a
{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.menu_ul
{
    width: 100%;
    height: 50px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #fff;
    /* gap: 30px; */
    align-items: center;
    position: absolute;
    top: 250px;
    left: 0;
    z-index: 14;
    box-shadow: 0 1px #eee;
}
.menu_li
{
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}
.menu_pan
{
    width: 100%;
    height: 0;
    background-color: rgba(80, 80, 80, 0.4);
    position: absolute;
    top: 50px;
    z-index: 12;
    transition: all 0.5s;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.pan_container
{
    width: 80%;
    height: 100%;
    background-color: white;
}
.pan
{
    font-size: 50px;
}
.footer
{
    width: 100%;
    height: 350px;
    background-color: #222;
    font-size: 10px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 1px;
    padding: 45px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
}
.footer_sec
{
    width: 35%;
    height: 100%;
    color: #aaa;
    border-right: 1px solid #444;
}
.footer_sec:nth-child(2)
{
    width: 20%;
}
.footer_sec:nth-child(3)
{
    border: none;
}
.footer_sec_o
{
    padding-bottom: 20px;
}
.footer_sec:nth-child(3) .footer_sec_o:nth-child(2)
{
    display: flex;
    justify-content: start;
}
.footer_sec:nth-child(1) 
{
    line-height: 27px;
}
.footer_sec_o p
{
    font-size: 13px;
    margin: 0;
    padding: 0;
    display: inline;
}
.footer_sec_i
{
    padding-right: 40px;
}
.footer_title
{
    width: 20px;
    border-top: 2px solid;
    white-space: nowrap;
    padding: 5px 0 10px;
    font-size: 12px;
    font-weight: 400;
}