body
{
    background: #222;
    font-family: 'CBNUJIKJI';
}
@font-face 
        {
        font-family: 'CBNUJIKJI';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/CBNUJIKJI.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
#wrap { 
    color: #fff;
}
.area {
    width: 1100px;
    margin: 100px auto;

    /* height: 1000px; */
    background: #222;
    
}
.data_area {
    padding: 0 50px;
    background-color: #222;
}
p {
    color: hotpink;
    font-size: 20px;
    font-weight: 900;
}

button {
    width: 80px;
    height: 30px;
    border: 1px solid hotpink;
    border-radius: 25px;

    font-size: 14px;
    font-weight: 900;

    color: #666;
    background: #222;
}
button:hover {
    background: #fff;
}
/*------------------썸네일/영화제목/영화정보------------------------*/
.move_box {
    height: 400px;
    /* background: skyblue; */
    background: #222;

    display: flex;

    margin: 20px 0;
}
/* 개봉,장르,등급,국가,러닝타임 글자 색*/
.move_report > tr > th{
    color: #666;
}
.move_thumbnail {
    width: 300px;
    height: 100%;
    /* background:#fff; */
    background: url(썸네일.jpg) no-repeat center / cover;
    border-radius: 5px;

    box-sizing: border-box;
}
.report_box{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.move_title {

    height: 100px;
    /* border: 1px solid; */
    border-bottom: 1px solid hotpink;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 55px;
}
.score_box {
    width: 200px;
    height: 300px;
    /* line-height: 290px; */
    /* background: #fff; */
    text-align: center;
}
.score_star{
    height: 200px;
    line-height: 200px;

    font-size: 100px;
    color: rgb(255, 196, 0);
}
.score {
    font-size: 50px;
}
.report_bo{
    display: flex;
    flex-wrap: wrap;
}
.move_report {
    font-size: 20px;
}
.move_report > tr > th {
    /* padding-left: 20px; */
    width: 100px;
    text-align: left;
}

/*---------------------- 탭메뉴 -------------------------*/
.tab_box {
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 900;
    text-align: center;

    border-top: 1px solid hotpink;
    border-bottom: 1px solid hotpink;
}
.contents_box >  input[type="radio"]{
    display: none;
}
.tab {
    width: 100px;
    cursor: pointer;
}
.tab:hover {
    font-size: 24px;
    color: salmon;
}
#con_rd1:checked ~ .tab_box > .con_rd1,
#con_rd2:checked ~ .tab_box > .con_rd2,
#con_rd3:checked ~ .tab_box > .con_rd3{
    font-size: 24px;
    color: hotpink;
}
.data_pg_1,
.data_pg_2,
.data_pg_3{
    display: none;
}
#con_rd1:checked ~ .data_pg_1,
#con_rd2:checked ~ .data_pg_2,
#con_rd3:checked ~ .data_pg_3{
    display: block;
}


/*----------------------영화 줄거리 --------------------*/


.story_box{
    /* padding: 20px 50px; */
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid hotpink;

}
.story_box > p {
    margin: 10px 0;
    font-weight: 900;
    font-size: 20px;
}

.move_story {
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.btn_story{
    display: block;
}
.story_box > .move_story_full {
    display: inline;
}
.story_box > button {
    margin-top: 20px;
}

/* --------------------감독/출연진-----------------------*/


.staff_box {
    background-color: #222;
    overflow: hidden;
    padding-top: 20px;
}
.staff_box > p {
    margin: 10px 0;
    font-weight: 900;
    font-size: 20px;
}
.director_box{
    margin-left: 20px;
    float: left;

}
.actor_box {
    float: left;
}
.staff {
    margin: 10px 20px;
    width: 150px;
    height: 250px;
    background: #222;
    float: left;
    /* overflow: hidden; */
    border-radius: 10px;
    
    font-size: 18px;
    font-weight: 500;
    /* text-align: right; */
}
.staff:hover > .staff_img{
    box-shadow: 0 0 10px 0 #ddd;
}
.staff_img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #ddd;
    background: url(배우.jpg) no-repeat center /cover;
    /* background: url(배우.jpg) ; */
}
.staff_name{
    height: 25px;
    padding: 10px 10px 0;
}
.staff_level{
    height: 25px;
    font-size: 16px;
    padding: 0 10px;
}

/* 감독/출연진 더보기*/

.staff_box_full {
    display: none;
    overflow: hidden;
}

.staff_box_full >.director_box > p,
.staff_box_full >.actor_box > p { 
    margin: 10px 0;
    font-weight: 900;
    font-size: 20px;
}
.staff_box_full > .director_box {
    margin-left: 0;
}
.btn_staff {
    margin: 10px 0 10px;
}
/*-------------------별점평가/코멘트/찜하기--------------------*/
.stars {
    display: flex;
    padding-left: 100px;
    line-height: 100px;
}
.star {
    position: relative;
    font-size: 62px;
    color: #ddd;
}

.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.star_span {
    width: 0;
    position: absolute; 
    left: 0;
    color: rgb(255, 196, 0);
    overflow: hidden;
    pointer-events: none;
}
.star_score{
    font-size: 30px;  
}

/*-------------- 코멘트 영역 ------------------*/

.my_commnet{
    width: 100%;
    height: 400px;
    background: #3d3d3d;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid hotpink;
    border-radius: 20px;


    padding: 0 20px;
}
.my_comm_header {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid hotpink;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 20px;
}
.my_comm_txt{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 0 0 20px 20px;
    height: calc(100% - 60px - 55px);
    text-align: left;

    background: #3d3d3d;
    outline: none;
    resize: none;

    font-size: 15px;
    color: #fff;
    padding: 10px 10px;
}
.my_comm_ft { 
    height: 50px;
    line-height: 50px;
    overflow: hidden; 
    position: relative;
    box-sizing: border-box;

    border-top:  1px solid hotpink;
}
.my_comm_ft > button {
    position: absolute;
    top: 50%;
    right: 20px;

    transform: translateY(-50%);

}
.comment_area {
    padding: 20px;
}
.comment_list{
    width: 100%;
    /*height: 1000px;*/
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    /* background-color: pink; */
}
.comment_box {
    width: calc((100% - 20px) / 2);
    height: 400px;
    border: 2px solid hotpink;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;

    padding: 0 20px;

    background: #222;
}
.comment_header{
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid hotpink;
    box-sizing: border-box;
    background: #222;
    overflow: hidden;
    padding: 0 20px;
}
.com_header_name {
    float: left;
}
.com_header_score{
    width: 70px;
    height: 40px;
    float: right;
    overflow: hidden;
    text-align: center;
}
.com_header_score > img {
    float: left;
}
.comment_txt {
    height: calc(100% - 60px - 50px);
    border-bottom: 1px solid hotpink;
    box-sizing: border-box;

    background: #3d3d3d;
    
}
.comment_ft {
    height: 50px;
    line-height: 50px;
    background: #222;
    overflow: hidden;
}
.good_icon,.comm_icon {
    float: left;    
    margin-top: 10px;  
    margin-right: 5px;    
    width: 30px;
    height:30px;    
}
.good_num,.comm_num{
    margin-right: 20px;
    float: left;    
}